*.obj
*.lib
*.bc
libm.lib
*.o
*~
*.dll*
*.so*
*.dylib*
monitor*/monitor
monitor*/monitor_dspc868x
monitor*/monitor_evmk2h
monitor*/monitor_evmk2l
monitor*/monitor_evmk2e
monitor*/ocl_platforms/dspc868x/.dlls
monitor*/ocl_platforms/dspc868x/.executables
monitor*/ocl_platforms/dspc868x/.interfaces
monitor*/ocl_platforms/dspc868x/.libraries
monitor*/ocl_platforms/dspc868x/package.mak
monitor*/ocl_platforms/dspc868x/*.mak
monitor*/ocl_platforms/dspc868x/package
monitor*/ocl_platforms/evmk2h/.dlls
monitor*/ocl_platforms/evmk2h/.executables
monitor*/ocl_platforms/evmk2h/.interfaces
monitor*/ocl_platforms/evmk2h/.libraries
monitor*/ocl_platforms/evmk2h/*.mak
monitor*/ocl_platforms/evmk2h/package
monitor*/ocl_platforms/evmk2l/.dlls
monitor*/ocl_platforms/evmk2l/.executables
monitor*/ocl_platforms/evmk2l/.interfaces
monitor*/ocl_platforms/evmk2l/.libraries
monitor*/ocl_platforms/evmk2l/*.mak
monitor*/ocl_platforms/evmk2l/package
monitor*/ocl_platforms/evmk2e/.dlls
monitor*/ocl_platforms/evmk2e/.executables
monitor*/ocl_platforms/evmk2e/.interfaces
monitor*/ocl_platforms/evmk2e/.libraries
monitor*/ocl_platforms/evmk2e/*.mak
monitor*/ocl_platforms/evmk2e/package
monitor*/ocl_platforms/am57x/.xdcenv.mak
monitor*/ocl_platforms/am57x/.dlls
monitor*/ocl_platforms/am57x/.executables
monitor*/ocl_platforms/am57x/.interfaces
monitor*/ocl_platforms/am57x/.libraries
monitor*/ocl_platforms/am57x/package.mak
monitor*/ocl_platforms/am57x/package/
monitor0
monitor1
*.map
*.out
*.syms
libm.cmd
libm.fcns
builtins.cmd
builtins.fcns
build/
ti-opencl*.tar.gz
depend
depend.bak
CMakeCache.txt
CMakeFiles/
host/build/
cmake_install.cmake
host/.settings/
host/.kdev4/
host/nbproject/private/
*.hex
tags
build.log
*.embed.h
host/clocl/arm
host/clocl/x86
llvm33-install-x86
monitor*/ocl_platforms/evmk2g/.dlls
monitor*/ocl_platforms/evmk2g/.executables
monitor*/ocl_platforms/evmk2g/.interfaces
monitor*/ocl_platforms/evmk2g/.libraries
monitor*/ocl_platforms/evmk2g/*.mak
monitor*/ocl_platforms/evmk2g/package

