*.obj
*.lib
*.bc
libm.lib
*.o
*~
*.dll*
*.so*
*.dylib*
.xdcenv.mak
.executables
.interfaces
.libraries
package.mak
monitor*/monitor
monitor*/monitor_dspc868x
monitor*/monitor_evmk2h
monitor*/monitor_evmk2l
monitor*/monitor_evmk2e
monitor*/ocl_platforms/dspc868x/package
monitor*/ocl_platforms/evmk2h/package
monitor*/ocl_platforms/evmk2l/package
monitor*/ocl_platforms/evmk2e/package
monitor*/ocl_platforms/am57x*/package/
monitor*/ocl_platforms/evmk2g/package
eclipse/package
install/
monitor0
monitor1
*.map
*.out
*.syms
*.ae66
libm.cmd
libm.fcns
builtins.cmd
builtins.fcns
build/
ti-opencl*.tar.gz
depend
depend.bak
CMakeCache.txt
CMakeFiles/
host/build/
cmake_install.cmake
host/.settings/
host/.kdev4/
host/nbproject/private/
*.hex
tags
build.log
*.embed.h
host/clocl/arm
host/clocl/x86
llvm33-install-x86
packages/ti/opencl/lib/
packages/ti/opencl/package/
packages/ti/opencl/platforms/am57x_rtos/package/
packages/ti/opencl/OpenCL.h
packages/ti/opencl/DSPMonitor.h


*.pyc
